<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic CRUD APP</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Notes App using Node and Express</h1>
    <div class="top-container">
        <div class="box-container">
            <h2>Add a new note</h2>
        <form action="/notes" method="post">
            <input type="text" name="topic" placeholder="Topic">
            <input type="text" name="note" placeholder="Enter your note">
            <button type="submit">Add Note</button>
        </form>
        </div>

        <div class="box-container">
            <h2>Delete test notes</h2>
            <p>Replace first test note with an important note</p>
            <button id="update-button">Replace test note</button>
        </div>

        <div class="box-container">
            <h2>Remove Important Notes</h2>
            <p>
            Delete one of the important notes. It does nothing if it doesn't exist.
            </p>
            <button id="delete-button">Delete important note</button>
        </div>
        <div id="message"></div>
    </div>


    <h2>My Notes</h2>
    <ul class="notes">
        <% for (let i = 0; i < notes.length; i++) { %>
            <li class="note">
                <span><%= notes[i].topic %></span>:
                <span><%= notes[i].note %></span>
            </li>
        <% } %>
    </ul>
    <script src="/main.js"></script>
</body>
</html>